{% extends "::base.html.twig" %}

{% block menu %}
    {{ knp_menu_render('VerberDevTimeGalleryBundle:Builder:mainMenu', { 'style': 'pills' }) }}
{% endblock %}

{% block content %}
    <div id="album">
        {{ form(album_form, { 'style': 'inline' }) }}
    </div>
    <div id="uploader">
        <form method="post" action="{{ path('do_upload') }}" class="dropzone" id="gallery_uploader">
            <div class="fallback">
                <input name="form[file]" type="file" multiple />
            </div>
        </form>
    </div>
    <div id="album_link">
        <a href="{{ path('view_album') }}">View Album</a>
    </div>
{% endblock %}

{% block extra_styles %}
    {% stylesheets 'bundles/verberdevtimegallery/css/*'  filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block extra_scripts %}
    {% javascripts
    '../vendor/enyo/dropzone/dropzone.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
    'bundles/verberdevtimegallery/js/*'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}