{% extends "::base.html.twig" %}

{% block menu %}
    {{ knp_menu_render('VerberDevTimeGalleryBundle:Builder:mainMenu', { 'style': 'pills' }) }}
{% endblock %}

{% block content %}
    <div class="row">
    {% for cover in covers %}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="{{ cover.link }}"><img src="{{ cover.cover | imagine_filter('thumb') }}" /></a>
                <div class="caption">
                    <h3>{{ cover.title }}</h3>
                    <p><a href="{{ cover.link }}" class="btn btn-primary" role="button">View Album</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}