{% extends "::base.html.twig" %}

{% block menu %}
    {{ knp_menu_render('VerberDevTimeGalleryBundle:Builder:mainMenu', { 'style': 'pills' }) }}
{% endblock %}

{% block content %}
    <ul class="thumbnails">
        {% for cover in covers %}
            <li class="span4">
                <a class="thumbnail" href="{{ cover.link }}">
                    <img data-src="{{ cover.cover }}" src="{{ cover.cover }}" />
                </a>
                <h3>{{ cover.title }}</h3>
            </li>
        {% endfor %}
    </ul>
{% endblock %}